<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../Scripts/jquery-3.1.1.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body >
    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("navigationbar.html");
        });
    </script>
    <center>
        <img src="../Images/1r9e0l.jpg" align="middle">
        </center>
</body>
</html>